@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* #rock{
   
   padding: 10px;
   display: flex;
    justify-content: center;
    width: 150px;
    margin-top: 10px;
    

}

#paper{
    
   padding: 10px;
   display: flex;
   justify-content: center;
   width: 150px;
   margin-top: 10px;
 }
 #scissor{

    padding: 10px;
    display: flex;
     justify-content: center;
     width: 150px;
     margin-top: 10px;
 
 } */
 .lgo{
   padding: 10px;
   display: flex;
    justify-content: center;
    width: 150px;
    margin-top: 10px;
  
 }
 @media (max-width: 1000px){
  .lgo{ width:80px;
   height: 50px;
   display: flex;
   justify-content: center;
   padding: 20px;
   }

 }
 /* /* #score{
    border: 2px black solid;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    margin-top: 10px;
 } */
 